/* body {
  background-color: rgb(219, 169, 130);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.container{
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.container-in{
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
.container-in h1{
  color: rgb(62, 81, 119);
  font-size: 25px;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.81);
}
.card-body{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.card-body input{
  width: 70%;
  height: 25px;
  border-radius: 8px;
  outline: none;
  border: 2px solid rgb(39, 161, 230);
  color: #000;
  padding: 5px 10px;
}
.card-body button{
  width: фгещ;
  height: 100%;
  background-color: rgb(88, 122, 207);
  color: #fff;
  outline: none;
  border: none;
  height: 35px;
  padding: 0px 30px;
  border-radius: 6px;
}
#listTodo{
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  padding: 0 10px;
  width: 100%;
}
#listTodo .btn{
  color: #fff;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: rgb(217, 53, 53);
  font-size: 15px;
  height: 30px;
}
#listTodo .btn:first-child{
  order: 1;
}
#listTodo .btn:last-child{
  background-color: rgb(147, 219, 98);
  margin-right: 10px;
}
.output{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 98%;
  background-color: rgb(76, 152, 154);
  margin-top: 20px;
  padding: 5px 10px ;
  border-radius: 8px;
}

@media screen and (max-width: 600px){
  .card-body button{
    font-size: 10px;
  }
  .card-body input{
    width: 50%;
  }
  .output{
    flex-flow: column wrap;
  }
  #listTodo .btn:last-child{
    margin: 0;
  }
} */
#body{
  background-color: rgb(4, 156, 140);
}
#listTodo{
  color: #fff;
  padding: 0px 10px;
  border-radius: 8px;
}
#listTodo .btn{
  color: #fff;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: rgb(217, 53, 53);
  font-size: 15px;
  height: 30px;
  margin: 5px;
}
#listTodo .btn:first-child{
  background-color: rgb(38, 124, 46);
}
.text{
  width: 80%;
}
.buttons{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;
}
@media screen and (max-width: 500px){
  .card-body .btn{
    width: 100%;
  }
  .card-header{
    text-align: center;
  }
}
