#body{
  background-color: rgb(4, 156, 140);
}
#listTodo{
  color: #fff;
  padding: 0px 10px;
  border-radius: 8px;
}
#listTodo .btn{
  color: #fff;
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: rgb(217, 53, 53);
  font-size: 15px;
  height: 30px;
  margin: 5px;
}
#listTodo .btn:nth-child(1){
  background-color: rgb(136, 22, 250);
}
#listTodo .btn:nth-child(2){
  background-color: rgb(38, 124, 46);
}
.text{
  width: 80%;
}
.buttons{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;
}
@media screen and (max-width: 500px){
  .card-body .btn{
    width: 100%;
  }
  .card-header{
    text-align: center;
  }
}
